<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyD64xjQb1asWInRBwHXSg-XHorTZf3FEYs</string>
	<key>GCM_SENDER_ID</key>
	<string>356929970712</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>newwavecomputers.StateManagement</string>
	<key>PROJECT_ID</key>
	<string>state-management-a9a7f</string>
	<key>STORAGE_BUCKET</key>
	<string>state-management-a9a7f.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:356929970712:ios:fc519f5f6b03b63279996d</string>
</dict>
</plist>